* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  background-color: #f6f6f6;
  min-height: 100vh;
  width: 100vw;
  color: black;
}
.container-Navigation-bar {
  background-color: green;
  color: white;
  display: flex;
  width: 100%;
  height: 5rem;
}
.container-Navigation-bar-left {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  gap: 1rem;
  width: 50%;
}
.container-Navigation-bar-left-item {
  list-style: none;
}
.container-Navigation-bar-left-item a {
  text-decoration: none;
  color: white;
}
.container-Navigation-bar-left-item a img {
  width: 4rem;
  height: 4rem;
}
.container-Navigation-bar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container-Navigation-bar-right-search-bar {
  position: relative;
  height: 2rem;
  width: 20rem;
  display: flex;
}
.container-Navigation-bar-right-search-bar-input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  padding: 0rem 1rem;
}
.container-Navigation-bar-right-search-bar-button {
  height: 100%;
  width: 20%;
  background-color: blue;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 600;
}
.container-Navigation-bar-right-search-bar-button:hover {
  background-color: green;
  border: 1px solid white;
}
.container-todo-list {
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
}
.container-todo-list-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1rem 2rem;
}
.container-todo-list-header-heading {
  font-size: 2rem;
}
.container-todo-list-header-para {
  color: gray;
}
.container-todo-list-search {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2rem 2rem;
}
.container-todo-list-search-Calendar {
  display: inline-block;
}
.container-todo-list-search-Calendar-value {
  width: 10rem;
  cursor: pointer;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  font-weight: bold;
}
.container-todo-list-search-option {
  display: inline-block;
}
.container-todo-list-search-option-value {
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  font-weight: bold;
}
.container-todo-list-search-text-area {
  margin: 1rem 0rem;
}
.container-todo-list-search-text-area-value {
  height: 3rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
  width: 100%;
  border: none;
  font-weight: bold;
  outline: none;
  border: 1px solid red;
  display: flex;
  overflow: hidden;
  resize: none;
  justify-content: center;
  align-items: center;
}
.container-todo-list-search-input-text {
  display: inline-block;
}
.container-todo-list-search-input-text-value {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.container-todo-list-search-btn {
  border: none;
  outline: none;
}
.container-todo-list-search-btn-value {
  border: none;
  background-color: green;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.container-todo-list-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  gap: 1rem;
}
.container-todo-list-message-container-message {
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  width: 100%;
  border-radius: 1rem;
}
.container-todo-list-message-container-message-delete-value {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
}
.container-todo-list-message-container-message-checkBox {
  zoom: 1.4;
  cursor: pointer;
}
.container-todo-list-message-container-message-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.container-todo-list-message-container-message-heading-value {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: transparent;
  width: 20rem;
  padding: 1rem;
  border: none;
  outline: none;
}
.container-todo-list-message-container-message-heading-value:hover {
  color: black;
  cursor: pointer;
}
.container-todo-list-message-container-message-heading-para-value {
  font-size: 1.2rem;
  background-color: transparent;
  height: 80%;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
}
.container-todo-list-message-container-message-heading-para-value:hover {
  color: black;
  cursor: pointer;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.container-Navigation-bar-right-search-bar-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  background: white;
  width: 16rem;
  height: fit-content;
  padding: 0rem 0rem;
}

.container-Navigation-bar-right-search-bar-results li {
  color: black;
  list-style: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.container-Navigation-bar-right-search-bar-results li:hover {
  background-color: rgb(219, 215, 215);
}

.add_note {
  padding: 2rem 0rem;
}

/*# sourceMappingURL=main.css.map */
